<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Nordea Openbanking Credentials-->
    <add key="NordeaOpenbankingBaseUrl" value="https://api.nordeaopenbanking.com/v2/"/>
    <add key="NordeaOpenbankingClientId" value="9dce38b7-30e9-49c9-b8a3-6f10b9c9367c"/>
    <add key="NordeaOpenbankingClientSecret" value="U5tL8iY2hP3jM5rX7wV7aF0mX8rE6wG1hP7qG7gX0lT5uQ4jN5"/>
  </appSettings>
</configuration>