@model DtuNetbank.Models.BankAccountsViewModel

@{
    var title = DtuNetbank.ResourceManager.GetResourceString("AccountOverview");
    ViewBag.Title = title;
}

<h2>@title</h2>

@Html.Partial("AccountListPartial", Model.BankAccounts)
