@model DtuNetbank.Models.TransactionViewModel

@{
    ViewBag.Title = "Transaktioner for "+ Model.AccountNumber;
}

<h2>Transaktioner for @Model.AccountNumber </h2>
<table style="width: 100%">
    <thead>
        <tr>
            <td>Dato</td>
            <td>Beskrivelse</td>
            <td>beløb</td>
        </tr>
    </thead>
    
    <tbody>
    @foreach (var transaction in Model.Transactions)
    {
        <tr>
            <td>@transaction.transaction_date</td>
            <td>@transaction.narrative</td>
            <td>@transaction.amount</td>
        </tr>
    }
    </tbody>

</table>



